body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.category {
    margin-bottom: 200px;
}

.answerCont {
    width: 100%;
    margin-left: 2em;
}

#quiz-container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
    margin-top: 50px;
}

.question h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.response {
    margin: 5px 0;
    z-index: 2;
    position: relative;
    padding-right: 1em;
}

.response_pct {
    background-color: #a4ffa4;
    z-index: 0;
    height: 1em;
    position: absolute;
}
